.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>section {
    width: 40%;
    min-width: 300px;
    padding: 24px;
    border-radius: 24px;
    background: white;
}

.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fileBtn {
    background: #514EF3;
    color: white;
    padding: 8px 24px;
    border-radius: 20px;
}

form>div:first-of-type {
    margin-bottom: 16px;
}

.flex {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.flex>* {
    flex-basis: 50%;
}

.inputContainer>* {
    margin: 8px 0;
    display: block;
    width: 100%;
}

input {
    background: #EAEEF4;
    border: none;
    padding: 10px 6px;
}

.flex+.inputContainer>* {
    width: 100%;
}

form+div {
    margin: 24px 0;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}